h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 16px;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  max-height: 94px;
  width: 300px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card .body {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.empty {
  justify-content: center;
}

.card.card-small {
  height: 16px;
  width: 168px;
  justify-content: center;
}

.card-container .card:not(.empty) {
  cursor: pointer;
}

.card-container .card:not(.empty):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:hover .material-icons path {
  fill: rgb(105, 103, 103);
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card {
    height: 16px;
    margin: 8px 0;
  }
}
